{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django project</title>
    <link rel="stylesheet" href="{% static 'style/main.css'%}">
</head>

<body>
    <nav class="navar container">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/project">projects</a>
            </li>
            <li>
                <a href="/task">task</a>
            </li>
            <li>
                <a href="/about">about</a>
            </li>
            <li>
                <a href="/create_task">CrearTares</a>
            </li>
            <li>
                <a href="{% url 'create_projects' %}">crearPorjectos</a>
            </li>
        </ul>
    </nav>

    <main class="container">
        {%block content%}

        {%endblock%}
    </main>

</body>

</html>